@charset "UTF-8";

*{
	margin : 0;
	padding : 0;
}

header {
	padding : 20px;
	position: relative;
}

header > h1 {
	font-style: italic;	
}

header > div {
	position : absolute;
	right: 10px;
	top: 5px;
}

nav {
	padding : 5px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

nav > ul {
	list-style: none;
	overflow: hidden;
}

nav > il > li {
	float: left;
	padding: 0 15px;
}

nav + div {
	padding : 30px;
}

nav + div > h3 {
	border : 0;
	border-top: 1px solid #aaa;
}