body{
    margin:  0;
    padding : 0;
}

.login{
    width: 500px;
    height: 1000px;
    background-color: black;
    opacity: 80%;
}

.login-form {
    height: 100%;
    margin:  40px 80px;
    text-align: center;
}

.login-form_logo{
    color : white;
    font-size: xx-large;
    font-weight: bolder;
    padding: 80px;
}

.login-form div:nth-child(2){
    display: flex;
}
.login-form label {
    color: white;
}

.login-form input{
    padding : 20px 40px;
    width: 100%;
    margin : 20px 0;
    display: block;
    border-radius: 10px;
}

.login-form button{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}